<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EncodingDetection" version="1.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="TextEncodingConverter" version="1.0.2" targetFramework="net462" />
</packages>